<h1> Packages: </h1>
<div class="span4">
</div>
<table style="width:300px">
<tr>
	<th>Type</th>
	<th>Includes</th>
	<th>Pricing</th>
	</tr>
	<tr>
	<td>Portraits</td>
	<td>Cd + pictures</td>
	<td>$50</td>
	</tr>
	<tr>
	<td>Senior Pictures</td>
	<td>Cd</td>
	<td>$75</td>
	</tr>
	<tr>
	<td>Engagement</td>
	<td>Cd</td>
	<td>$100</td>
	</tr>
	<tr>
	<td>Childrens</td>
	<td>Cd</td>
	<td>$200</td>
	</tr>
	<tr>
	<td>Newborn</td>
	<td>Cd</td>
	<td>$100</td>
	</tr>
	<tr>
	<td>Maturnity</td>
	<td>Cd</td>
	<td>$50</td>
	</tr>
</table>
