<% if is_admin? %>
<%= link_to "Add gallery Image", new_gallery_image_path %>
<% end %>
</br>
<div class="row-fluid">
	<div class="span2">
		<div class="space">
		</div>
		<div id="leftArrow">
		</div>
	</div>
	<div class="span8">
		<div class="main-photo">
			<%= (image_tag @mainImage.image_url(:standard)) if @mainImage.present?%></br>
		</div>
	</div>
	<div class="span2">
		<div class="space">
		</div>
		<div id="rightArrow">
		</div>
	</div>
</div>

<div class="row-fluid">
<div class="span2">
</div>
<div class="span8">
<% @gimages.each do |image| %>
<% if image.present? %>
<%= link_to (image_tag image.image_url(:thumb)), gallery_image_path(image), data:{id: image.id, remote: true}, class:"gallery" %>
<% end %>
<% end %>
</div>
<div class="span2">
</div>
